<div class="header-div">

  <div class="count-div">
    (<span>{{filteredList.length}}</span>/<span>{{list.length}}</span>)
  </div>

  <mat-tab-group
    [selectedIndex]="0"
    color="accent"
    (selectedIndexChange)="setSection($event)"
  >
    <mat-tab
      *ngFor="let sec of options?.sections; let idx = $index"
      label="{{sec?.label}}"
      [ngClass]="{}"
    ></mat-tab>
  </mat-tab-group>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input #filter matInput [ngModel]="initialFilter" placeholder="Filter" autocomplete="off">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Thumb sizes</mat-label>
    <mat-select [(value)]="dimension">
      <mat-option
        *ngFor="let dim of thumbsDims"
        [value]="dim">{{dim.width}} x {{dim.height}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="loading" class="loading-div">Loading...</div>

<cdk-virtual-scroll-viewport
  #viewport
  itemSize="dimension.height"
  minBufferPx="200"
  maxBufferPx="400"
  class="example-viewport">


  <div
    *cdkVirtualFor="let item of filteredList"
    class="item-div"
    [style.width.px]="dimension.width"
    [style.height.px]="dimension.height"
  >
    <img [attr.src]="getCoverUrl(item)"
         [attr.width]="dimension.width"
         [attr.title]="item"
         crossorigin="anonymous"
    >
  </div>

</cdk-virtual-scroll-viewport>
